# .gitignore evite de valider (commiter) les fichiers binaires
# ignorer tous les fichiers .o .a et temporaires
*.[oa]
*~
# ne pas ignorer les fichiers dans le répertoire PHOTO
# static/PHOTO/
# ignorer l'executable creer avec go build
gallery

